@font-face {
    font-family: Samsung;
    src: url(fonts/SamsungSans-Medium.ttf);
}

*{
    font-family: Samsung;
    
}

.c0 .carousel-caption {
    color: black;
    padding-bottom: 300px;
    padding-right: 600px;
}

.c0 .carousel-caption h5 {
    font-weight: bold;
    font-size: 30px;
}

.c0 .carousel-caption p {
    font-size: 15px;
}

a{
    color: black !important;
}

.carousel-control-prev-icon.bg-dark{
    border-radius: 10px;
}

.carousel-control-next-icon.bg-dark{
    border-radius: 10px;

}

 .carousel-item a{
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #000 !important;
    border-color: black;
    transition: 0.4s;
    font-size: 15px;
}

.carousel-item a:hover {
    background-color:#000000c0 !important;
}

@media (max-width: 600px) {
    .carousel-control-prev-icon.bg-dark{
        height: 20px;
        width: 20px;
        border-radius: 8px;
        margin-left: 15px !important;
    }
    .carousel-control-next-icon.bg-dark{
        height: 20px;
        width: 20px;
        border-radius: 8px;
    }
    .carousel-indicators{
        position:absolute;
        right:0;
        bottom:0;
        left:0;
        z-index:2;
        display:flex;
        justify-content:center;
        padding:0;
        margin-right:15%;
        margin-bottom:0rem;
        margin-left:15%;
        list-style:none
    }
    .c1 img{
        height: 40rem;
        margin-left: -30rem;
        margin-right: -20px;
        width: 60rem !important;
    }
    .c1 .carousel-caption{
        padding-bottom: 410px !important;
        padding-right: 180px !important;
    }
    .c2 img{
        height: 40rem;
        margin-left: -35rem;
        width: 70rem !important;
    }
    .c2 .carousel-caption{
        padding-bottom: 500px !important;
        padding-right: 0px !important;
    }
    .c3 img{
        height: 40rem;
        margin-left: -28rem;
        width: 60rem !important;
    }
    .c3 .carousel-caption{
        padding-bottom: 410px !important;
        padding-right: 0px !important;
    }
    .c4 img{
        height: 40rem;
        margin-left: -21.5rem;
        width: 70rem !important;
    }
    .c4 .carousel-caption{
        padding-bottom: 480px !important;
        padding-right: 0px !important;
    }
    .c0 .carousel-caption{
        padding-bottom: 400px;
        padding-right: 200px;
    }
    .c0 .carousel {
        margin-left: -30px;
        margin-right: -10px !important;
        height: 40rem; 
    }
    .c0 .carousel h5{
        font-size: 20px;
    }
    .card h5{
        font-size: 1px;
    }
    .card a{
        margin-left: 0px !important;
    }
    .card .cr1{
        margin-left: 30px !important;
        font-size: 15px;
    }
    .cr{
        margin-left:6px;
    }
    .card a{
        font-size:10px;
    }
    .btn{
        padding: 5px;
    }
    .tab-content img{
        width: 330px !important;
        height: 200px !important;
    }
    .float-end img{
        width: 500px !important;
        padding: auto;
    }
    /* .gl4 h1{
        font-size: 15px;
        margin-left: -170px;
        padding-bottom: -50px;
        margin-top: -100px;
        margin-right: -200px;
    }
    .gl4 p{
        font-size: 10px;
        margin-left: -170px;
        margin-right: -20px;
        margin-bottom: -50px;
    }
    .gl3 h1 {
        margin-top: 1px;
        font-size: 5px;
    }
    .gl3 p{
        font-size: 5px;
        margin-bottom: 1px;
    }
    .gl4 a{
        font-size: 10px;
        margin-left: -170px;
        margin-bottom: -110px;
    }
    .gl5 a{
        font-size: 10px;
        margin-right: -170px;
    }
    .gl5 h1{
        font-size: 15px;
        margin-right: -170px;
        padding-bottom: -100px;
    }
    .gl5 p{
        font-size: 10px;
        margin-right: -170px;
        margin-left: -20px;
        padding-bottom: -100px;
    } */
}

@media (max-width: 800px) {
    .gl4 h1{
        font-size: 20px;
        margin-left: -170px;
        padding-bottom: -50px;
        margin-top: -100px;
        margin-right: -200px;
    }
    .gl4 p{
        font-size: 12px;
        margin-left: -170px;
        margin-right: -90px;
        margin-bottom: -50px;
    }
    .gl3 h1 {
        margin-top: 1px;
        font-size: 5px;
    }
    .gl3 p{
        font-size: 5px;
        margin-bottom: 1px;
    }
    .gl4 a{
        font-size: 10px;
        margin-left: -170px;
        margin-bottom: -110px;
    }
    .gl5 a{
        font-size: 10px;
        margin-right: -170px;
        margin-bottom: -110px;
    }
    .gl5 h1{
        font-size: 20px;
        margin-right: -170px;
        padding-bottom: -50px;
        margin-top: -200px;
    }
    .gl5 p{
        font-size: 12px;
        margin-right: -170px;
        margin-left: -70px;
        padding-bottom: -500px !important;
    }
}


.samsungmedium{
    font-family: Samsung;
}

.karuzel-kepson1{
    position:absolute;
    top: 50%;
    left: 10%;
    font-size: 2rem;
    font-weight: bold;  
}

.karuzel-kepson2{
    position:absolute;
    top: 30%;
    left: 10%;
    font-size: 2rem;
    font-weight: bold;
    
       
}

.karuzel-kepson3{
    position:absolute;
    top: 20%;
    left: 6%;
    font-size: 1.25rem;
    font-weight: bold;
    
       
}

#mobile_h1 {
    text-align: center !important;
    color: black;
    cursor: default;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 50px;
}

#mobile_p {
    background-color: beige;
    color: black;
    text-align: justify;
}

.mobile_img {
    padding: 50px;
}

.vigyel {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 25px;
}

.vigyel_szvg {
    margin-right: 50px;
    text-align: justify;
}

.button_mobile {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button_mobile {
    background-color: white; 
    color: black; 
    border: 2px solid black;
    border-radius: 15px;
  }
  
  .button_mobile:hover {
    background-color: black;
    color: white;
  }

  #samsungs23_fo {
    width: 100%;
    height: 45rem;
    object-fit: cover;
    -webkit-filter: brightness(70%);
    margin-bottom: 50px;
  }
  
  #csik {
    background-color: white;
    height: 50px;
  }

  .valos_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .youtube_vid {
    margin-left: 450px;
}

.card {
    border-radius: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px;
}

.card img{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card a:hover{
    background-color: #000000c0;
}

nav button{
    padding: auto;
}

.t1 img{
    width: 40rem;
    height: 20rem;
    border-radius: 15px;
}

.tab-content a{
    text-decoration: none;
}

ul li{
    margin: auto;
}

h1{
    padding-top: 5rem;
}


.home .nav-item button{
    display: inline-block;
    position: relative;
    color: black;
}
  
.home .nav-item button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.home .nav-item button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.Mónika{
    margin-top: -100px;
}

.gl1 {
    background-color: black;
}

.f1 .container {
    position: relative;
    text-align: center;
    color: white;
}
  
.left {
    position: absolute;
    bottom: 80px;
    left: 200px;
    margin-right: 600px;
}

.right{
    position: absolute;
    bottom: 80px;
    right: 200px; 
    margin-left: 600px;
}

.gl2 a{
    display: inline-block;
    position: relative;
    color: white !important;
    text-decoration: none;
}
  
.gl2 a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 15px;
    left: 8px;
    background-color: white;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}
  
.gl2 a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.gl3 h1 {
    margin-top: -50px;
    font-size: 60px;
}

.gl3 p{
    font-size: 20px;
    margin-bottom: 40px;
}

.f2{
    border-radius: 10px;
    margin-top: 60px;
    background-color: darkgrey;
    padding-bottom: 50px;
    padding-top: -10px;
}

#monitorok_fo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#monitorok_h1 {
    text-align: center !important;
    color: black;
    cursor: default;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 50px;
}

#monitorok_p {
    background-color: grey;
    color: black;
    text-align: justify;
    border: solid 15px grey;
    border-radius: 15px;
}

#monitorok_h1_belso {
    text-align: start !important;
    color: black;
    cursor: default;
    font-weight: bold;
}

.button_galaxyz {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 360px;
    transition-duration: 0.4s;
    cursor: pointer;
    top: 50%;
}

.button_galaxyz {
    background-color: white; 
    color: black; 
    border: 2px solid black;
    border-radius: 15px;
  }
  
  .button_galaxyz:hover {
    background-color: black;
    color: white;
  }

.galaxyz_szvg {
    text-align: center !important;
    text-align: justify;
}

.galaxyzvideo {
    width: 20% !important;
    margin: 15px;
}

.button_carousel {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button_carousel {
    background-color: white; 
    color: black; 
    border: 2px solid black;
    border-radius: 15px;
  }

  .button_carousel:hover {
    background-color: black;
    color: white;
  }

.inches{
    padding-left: 10px;
    padding-right: 10px;
}

table tr td{
    padding-left: 10px;
    padding-right: 10px;
}

.ár{
    padding-top: 80px !important;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
    

}

.több{
    height: 40px;
    width: 200px;
    border-radius: 30px;
    text-align: center;
}

.okostelefonfo {
    background-color: gray;
}

.foszvg {
    text-align: center;
}

/* .c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
} */

.okostelefonokkiskep {
    width: 300px !important;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    transition: 1s;
}

.okostelefonokkiskep:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.adatok {
    text-decoration: underline;
    font-weight: bold !important;
    font-size: 20px !important;
}

.focim {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ujcim {
    text-align: center;
}

.gyaricim {

}

.hatter {
    background-color: gray;
}

.haz .nav-item button{
    display: inline-block;
    position: relative;
    color: black;
}
  
.haz .nav-item button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.haz .nav-item button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}