@font-face {
    font-family: Samsung;
    src: url(fonts/SamsungSans-Regular.ttf);
    
}

*{
    font-family: Samsung;
    
}

.carousel-caption {
    color: black;
    padding-bottom: 300px;
    padding-right: 600px;
}

.carousel-caption h5 {
    font-weight: bold;
    font-size: 30px;
}

.carousel-caption p {
    font-size: 15px;
}

a{
    color: black !important;
}

.carousel-control-prev-icon.bg-dark{
    border-radius: 10px;
}

.carousel-control-next-icon.bg-dark{
    border-radius: 10px;

}