@font-face {
    font-family: Samsung;
    src: url(fonts/SamsungSans-Regular.ttf);
    
}

*{
    font-family: Samsung;
    
}

a{
    color: black !important;
}

.carousel-control-prev-icon.bg-dark{
    border-radius: 10px;
}

.carousel-control-next-icon.bg-dark{
    border-radius: 10px;
}