@font-face {
    font-family: Samsung;
    src: url(fonts/SamsungSans-Regular.ttf);
    
}

*{
    font-family: Samsung;
    
}

a{
<<<<<<< HEAD
    color: black;
}

.carousel-caption {
    color: black;
    padding-bottom: 125px;
    padding-right: 300px;
}

.carousel-caption h5 {
    font-weight: bold;
}

.carousel-caption p {
    font-size: 11px;
}

=======
    color: black !important;
}

.carousel-control-prev-icon.bg-dark{
    border-radius: 10px;
}

.carousel-control-next-icon.bg-dark{
    border-radius: 10px;

}